%p
  Здравствуйте,
%p
  Вы воспользовались функцией "Восстановить пароль".
%p
  По следующей ссылке вы можете поменять ваш пароль:
%div
  = link_to "Поменять", @url, {style: "background-color: #67AE55; background: -moz-linear-gradient(center top , #67AE55, #578843); background: -webkit-gradient(linear, left top, left bottom, from(#67AE55), to(#578843)); -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67AE55', endColorstr='#578843'); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67AE55', endColorstr='#578843'); border: 1px solid #AAAAAA; color: #FFFFFF !important; text-transform: uppercase; -moz-user-select: none; padding: 7px 12px; font-weight: bold; font-size: 12px; height: 15px; text-decoration: none; display: block; text-align: center; width: 130px; margin: 10px auto; border-radius: 4px;"}
%p
  В случае, если не вы воспользовались этой функцией, проигнорируйте это сообщение.
%p
  Ваш пароль не будет изменён до тех пор, пока вы не перейдёте на вышеуказанную ссылку.
%p
  Если ссылка отображается не правильно, скопируйте её в адресную строку вашего браузера:
  %br
  = link_to @url, @url
